.idea/
venv/
.venv
__pycache__
scraper/node_modules/
scraper/package-lock.json
infrastructure/**/.terraform
infrastructure/**/*.zip
infrastructure/terraform.tfstate.backup
infrastructure/**/.terraform.lock.hcl
infrastructure/terraform.tfvars
